

{% extends "base.html" %}
{% block title %}Изменить адрес эл.почты{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-grid.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-reboot.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/maneform.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/authorization.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navigation.css') }}">
{% endblock %}

{% block content %}
    <br><br>
<form method="post" class="decor">
    <div class="form-inner">
    {% for category, message in get_flashed_messages(with_categories=True) %}
        <div class="alert alert-{{category}}">{{ message }}</div>
    {% endfor %}
    <h3>Изменить пароль</h3>
    {{ form.hidden_tag() }}
    {% with test = form %}
    {% for field in test %}
        {{ field() }}
    {% endfor %}
    {% endwith %}
    </div>
 </form>
    <br><br>
{% endblock %}