{% extends "base.html" %}
{% block title %}Вход{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/maneform.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/authorization.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navigation.css') }}">
{% endblock %}

{% block content %}
<form method="post" class="decor">
    <div class="form-inner">
    {% for category, message in get_flashed_messages(with_categories=True) %}
        <div class="alert alert-{{category}}">{{ message }}</div>
    {% endfor %}
    <h3>Авторизация</h3>
    {{ form.hidden_tag() }}
    {{ form.login(placeholder="Логин") }}
    {{ form.password(placeholder="Пароль") }}
    {{ form.submit() }}<br>
    <p>Забыли пароль? <br><a href="{{ url_for('auth.password_reset_request') }}">Нажмите здесь, чтобы сбросить его</a>.</p>
    <p>Новый пользователь? <br><a href="{{ url_for('auth.register') }}">Нажмите для регистрации</a>.</p>
    </div>
 </form>
{% endblock %}