{% extends "base.html" %}
{% block title %}Регистрация{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-grid.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-reboot.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/maneform.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/registration.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navigation.css') }}">

{% endblock %}
{% block content %}
<form method="post" class="decor">
    <div class="form-inner">
        {% for category, message in get_flashed_messages(with_categories=True) %}
        <div class="alert alert-{{category}}">{{ message }}</div>
    {% endfor %}
    <h3>Регистрация</h3>
    {{ form.hidden_tag() }}
        {{ form.fanID(placeholder="Номер FanID", min="1") }}
        {{ form.full_name(placeholder="ФИО") }}
        {{ form.phone(placeholder="Номер телефона") }}
        {{ form.email(placeholder="Электронная почта") }}
        {{ form.password(placeholder="Пароль") }}
        {{ form.password2(placeholder="Повторите пароль") }}

        {{ form.submit() }}
    </div>
 </form>
{% endblock %}
{% block scripts %}
<script src="https://code.jquery.com/jquery-2.2.4.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.min.js"></script>
<script src="{{ url_for('static', filename='reg.js') }}"></script>
{% endblock %}