{% extends "base.html" %}

{% block title %}Подтвердите Вашу почту{% endblock %}

{% block body %}
<div class="page-header">
    <h1>
        Здравствуйте, {{ current_user.full_name }}!
    </h1>
    <h3>Вы еще не подтвердили свою учетную запись.</h3>
    <p>
        Прежде чем вы сможете получить доступ к этому сайту, вам необходимо подтвердить свою учетную запись.
        Проверьте свой почтовый ящик, вы должны были получить электронное письмо со ссылкой для подтверждения.
    </p>
    <p>
        Нужно еще одно электронное письмо с подтверждением?
        <a href="{{ url_for('auth.resend_confirmation') }}">Нажмите здесь</a>
    </p>
</div>
{% endblock %}
