{% extends 'base.html' %}

{% block title %}
Покупка билетов
{% endblock %}

{% block body %}
<h1>FootBuy</h1>
<h2>
    {% if tickets %}
    Вы купили билеты:
    <ul>
        {% for ticket in tickets %}
            <li>{{ticket}}
                <br><a href={{ url_for('.ticket_download', ticket_id=ticket) }}>
	                <button>Скачать билет</button>
                </a>
            </li>
        {% endfor %}
    </ul>
    На сумму: {{ sum_price }} руб.
    {% else %}
        Вы не выбрали ни один билет
    {% endif %}
</h2>
{% endblock %}