{% extends 'base.html' %}

{% block title %}
Профиль
{% endblock %}

{% block body %}
<h1>FootBuy</h1>
<h2><a href="{{ url_for('auth.change_email_request') }}">Изменить адрес эл.почты</a></h2>
<h4>
    {% if tickets %}
    Ваши билеты:
    <ul>
        {% for ticket in tickets %}
            <li>{{ticket}}
                <br><a href={{ url_for('.ticket_download', ticket_id=ticket.ticket_id) }}>
	                <button>Скачать билет</button>
                </a>
            </li>
        {% endfor %}
    </ul>
    {% else %}
    Вы не приобрели ни одного билета
    {% endif %}
</h4>


{% endblock %}