{% extends "base.html" %}
{% block title %}Профиль{% endblock %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/maneform.css') }}">
{% endblock %}
{% block header %}
    {% for category, message in get_flashed_messages(with_categories=True) %}
        <div class="alert alert-{{category}}">{{ message }}</div>
    {% endfor %}
    <h1 class="title">Профиль</h1>
    <div class="row">

    <div class="col-md-4"></div>
    <div class="col-md-2">
        <form>
            <button type="submit" formaction="{{ url_for('auth.change_email_request') }}" class="sb1">Изменить адрес эл.почты</button>
        </form>
    </div>
    <div class="col-md-2">
        <form>
            <button type="submit" formaction="{{ url_for('auth.change_password') }}" class="sb2">Изменить пароль</button>
        </form>
    </div>
    </div>
    <h2 class="list">купленные билеты</h2>

{% endblock %}
{% block content %}


    <div class="container_new">
        <div class="container2">
            {% if tickets %}
            {% for ticket in tickets %}
            <div class="row">

                <div class="col-md-10 margin_promo">
                    {{ticket}}
                </div>

                <div class="col-md-2">
                    <form>
                        <button type="submit" formaction="{{ url_for('.ticket_download', ticket_id=ticket.ticket_id) }}" class="btnb">Скачать билет</button>
                    </form>
                </div>

            </div>
            {% endfor %}
            {% else %}
                <div class="row">

                <div class="col-md-2 margin_promo"></div>

                <div class="col-md-9 margin_promo">
                    Вы не приобрели ни одного билета
                </div>

                <div class="col-md-3 margin_promo"></div>
                <div class="col-md-2"></div>

            </div>

            {% endif %}
        </div>
    </div>
{% endblock %}
