{% extends 'base.html' %}
{% block title %}Выбор места{% endblock %}
	{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/maneform.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/authorization.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navigation.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/component.css') }}"/>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	{% endblock %}
{% block header %}
    {% for category, message in get_flashed_messages(with_categories=True) %}
        <div class="alert alert-{{category}}">{{ message }}</div>
    {% endfor %}
    <h1 class="title">Выберите место</h1>
    <h2 class="list">Сектор {{ m_sector }}</h2>
{% endblock %}
	{% block content %}
        <div class="container2">
		<div class="plan">
			<div class="rows rows--mini">
				{% for m_row in m_rows %}
				<div class="row_s">
					{% for place in tickets_sector %}
						{% if place[0] == m_row[0] %}
							{% if place[3] == 1 %}
								<div class="row__seat tooltip" data-tooltip="{{ place[0] }}р {{ place[1] }}м" id="{{ place[2] }}"></div>
							{% else %}
								<div class="row__seat row__seat--reserved" data-tooltip="{{ place[0] }}р {{ place[1] }}м" id="{{ place[2] }}"></div>
							{% endif %}
						{% endif %}
					{% endfor %}
				</div>
				{% endfor %}
			</div>
			<!-- /rows -->
            <br><div class="plan__price" data-price="{{ tickets_sector[0][4] }}">Цена билета: {{ tickets_sector[0][4] }} рублей</div>
            <div class="plan__sum__price" data-sum-price=""></div>
			<ul class="legend">
				<li class="legend__item legend__item--free">Свободные</li>
				<li class="legend__item legend__item--reserved">Резерв</li>
				<li class="legend__item legend__item--selected">Выбранные</li>
			</ul>
            <br>
			<form id="buy-form" method="post">
        		<button disabled="" type="submit" name="buy_button" class="action action--buy">Купить</button>
    		</form>
			<!--<button class="action action--buy" >Купить билет</button>-->
		</div><!-- /plan -->
        </div>
		<script src="../../static/seats.js"></script>
		<script src="../../static/classie.js"></script>
	{% endblock %}