<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Course_work</title>
    <link rel="stylesheet" href="css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="css/sector.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <section class="promo">
            <div class="container">
                <h1 class="title">Выбор сектора</h1>
                <div class="row">
    
                    <div class="col-md-2"></div>
    
                    <div class="col-md-2">
                        <button href="#" class="c1">C-1</button>
                    </div>
    
                    <div class="col-md-2">
                        <button href="#" class="c2">C-2</button>
                    </div>
    
                    <div class="col-md-2">
                        <button href="#" class="c3">C-3</button>
                    </div>
    
                    <div class="col-md-2 ">
                        <button href="#" class="c4">C-4</button>
                    </div>
    
                    <div class="col-md-2"></div>
                </div>
    
            
			<div class="row">
			
				<div class="col-md-2" style="z-index: 1;">
                  <button href="#" class="z1">З-1</button>
                </div>
				<div class="col-sm-8 ">
					<div class="row">
						<div class="col-12 col-sm-8">
							<img src="img/field.png" alt="field" class="field">
						</div>
					</div>
				</div>
				<div class="col-md-2" style="z-index: 1;">
                    <button href="#" class="z1">В-1</button>
                </div>
				
				<div class="col-md-2" style="z-index: 5; margin-top: -256px;">
                   <button href="#" class="z1">З-2</button>
                </div>
				<div class="col-md-2 offset-md-8" style="z-index: 5; margin-top: -256px;">
                   <button href="#" class="z1">В-2</button>
                </div>
            </div>
			   
			   
                <div class="row" style="padding-top:25px">
    
                    <div class="col-md-2"></div>
    
                    <div class="col-md-2">
                        <button href="#" class="y1">Ю-1</button>
                    </div>
    
                    <div class="col-md-2">
                        <button href="#" class="y2">Ю-2</button>
                    </div>
    
                    <div class="col-md-2">
                        <button href="#" class="y3">Ю-3</button>
                    </div>
    
                    <div class="col-md-2">
                        <button href="#" class="y4">Ю-4</button>
                    </div>
    
                    <div class="col-md-2"></div>
                </div>
    
                <button href="#" class="choose">Выбрать</button>
    
            </div>
        </section>
    </header>
</body>