{% extends "base.html" %}

{% block title %}Добавление матча{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-grid.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-reboot.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/maneform.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navigation.css') }}">
{% endblock %}
{% block content %}

<form method="post" class="decor">
    <div class="form-inner">
    {% for category, message in get_flashed_messages(with_categories=True) %}
        <div class="alert alert-{{category}}">{{ message }}</div>
    {% endfor %}
    <h3>Добавление матча</h3>
        {{ form.hidden_tag() }}
        {{ form.opponent(placeholder="Соперник") }}
        {{ form.tournament(placeholder="Турнир") }}
        {{ form.m_datetime(min=time_now, max=time_max, placeholder="Дата и время") }}
        {{ form.price(placeholder="Цена билета", min="0", max="100000") }}
        {{ form.submit() }}
    </div>
 </form>
{% endblock %}