<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FootBuy{% if self.title() | trim %} | {% endif %} {% block title %}{% endblock %}</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/logo.png') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-reboot.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-grid.min.css') }}">
{% block head %}{% endblock %}
</head>

<body>
    <header>
        <section class="promo">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            {% if current_user.is_authenticated %}
                                {% if current_user.has_role('admin') %}
                                    <form>
                                        <button type="submit" formaction="/admin" class="sb3">админ</button>
                                    </form>
                                {% endif %}
                            {% endif %}
                        </div>


                        <div class="col-md-1"></div>

                        <div class="col-md-1">
                            <a href="{{ url_for('main.index') }}"><img src="{{ url_for('static', filename='img/logo.png') }}" alt="logo" class="logo"></a>
                        </div>

                        <div class="col-md-2"></div>
                        {% if current_user.is_authenticated %}
                            <div class="col-md-2">
                                <form>
                                    {% set last_name = current_user.full_name.split(' ') %}
                                    <button type="submit" formaction="{{ url_for('main.profile') }}" class="sb1">{{ last_name[0] }}<img src="{{ url_for('static', filename='img/profile.png') }}" alt="profile" class="profile"></button>
                                </form>
                            </div>
                            <div class="col-md-2">
                            <form>
                                <button type="submit" formaction="{{ url_for('auth.logout') }}" class="sb2">выйти</button>
                            </form>
                        </div>
                        {% else %}
                        <div class="col-md-2">
                            <form>
                                <button type="submit" formaction="{{ url_for('auth.register') }}" class="sb1">регистрация</button>
                            </form>
                        </div>

                        <div class="col-md-2">
                            <form>
                                <button type="submit" formaction="{{ url_for('auth.login') }}" class="sb2">войти</button>
                            </form>
                        </div>
                        {% endif %}
                    </div>

                    {% block header %}{% endblock %}
                {% block content %}{% endblock %}
        </div>
        </section>
    </header>
</body>
{% block scripts %}{% endblock %}
</html>